h2 {
  text-align: center;
}
.moreInfo-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.moreInfo-p {
  text-align: left;
  width: 75%;
  margin-top: 2vh;
}

.how-to-p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.how-to-p-p {
  text-align: left;
  margin-top: 2vh;
}

.any-questions {
  margin-top: 5%;
}

.button-more-info {
  margin-top: 2vh;
}

.how-do-i {
  margin-top: 2vh;
}
