.issuePage-div {
  background-color: gray;
  height: fit-content;
  width: 70vw;
  margin-top: 2vh;
  padding: 10px;
  min-height: 20vh;
}

.issue-page-container {
  display: flex;
  width: 100vw;
  height: fit-content;
  background-color: lightpink;
  justify-content: space-around;
}

.issuePage-div h2 {
  font-size: 30px;
}

.issuePage-div p {
  font-size: 20px;
}
