@media screen and (min-width: 700px) {
  .hero {
    text-align: center;
    font-size: 29px;
  }

  .project-container {
    width: 100vw;
  }
  .project-page-container {
    display: flex;
  }
  .project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 75vw;
    position: relative;
  }
  .project-info h2 {
    font-size: 40px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-left: 4vw;
    text-transform: uppercase;
    margin-top: 14.5vh;
  }
  .stages-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .issue-add-button {
    width: 160px;
    height: 40px;
    margin-right: 1vw;
    background: #ffffff;
    border: 2px solid #fcb566;
    border-radius: 5px;
    font-family: callingCode-Bold;
    color: #fcb566;
    font-weight: bold;
    font-size: 15px;
    margin-top: 14.5vh;
  }

  .issue-add-mobile-button {
    display: none;
  }
  .issue-add-button:hover {
    background-color: #fcb566;
    color: white;
    cursor: pointer;
    transition: 1s;
  }
  .project-page-goback {
    font-family: callingCode-Bold;
    font-weight: bold;
    font-size: 13px;
    color: #fcb566;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .project-page-goback:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    text-align: center;
    font-size: 29px;
  }

  .project-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20vh;
    width: 100vw;
    position: relative;
  }

  .project-info h2 {
    font-size: 20px;
    margin-left: 12vw;
    margin-top: 20%;
    font-weight: bold;
  }
  .stages-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }

  .issue-add-button {
    font-size: 10px;
    margin-top: 5px;
    display: none;
  }
  .release-day-issue {
    display: none;
  }

  .issue-add-mobile-button {
    position: fixed;
    right: 1%;
    bottom: 15%;
    height: 38px;
    width: 84px;
    border: 2px solid #fcb566;
    border-radius: 5px;
    font-size: 15px;
    border-radius: 5px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-right: 10vw;
    color: #fcb566;
    background-color: white;
    z-index: 10;
  }
  .project-page-goback {
    font-family: callingCode-Bold;
    font-weight: bold;
    font-size: 13px;
    color: #fcb566;
    position: absolute;
    left: 30px;
    top: 30px;
  }
}
