@media screen and (min-width: 700px) {
  .header {
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #072334;
  }

  .hero-org {
    font-size: 22px;
    font-family: callingCode-Bold;
    font-weight: bold;
    color: white;
    margin-left: 1vw;
  }
  .hero-org:hover {
    cursor: pointer;
  }

  .logout-button {
    margin-left: 60vw;
    font-family: callingCode-Bold;
    font-weight: bold;
    color: #fcb566;
    border-bottom: 2px solid #fcb566;
    padding-bottom: 2px;
  }
  .logout-button:hover {
    cursor: pointer;
  }
  .saturn-icon {
    height: 60px;
    width: 60px;
    margin-left: 12%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    width: 100vw;
    height: 9vh;
    display: flex;

    justify-content: flex-start;
    align-items: center;
    background-color: #072334;
  }

  .hero-org {
    font-size: 22px;
    font-family: callingCode-Bold;
    font-weight: bold;
    color: white;
    margin-left: 10vw;
  }
  .logout-button {
    margin-right: 8vw;
    margin-bottom: 3%;
    padding: 0px;
    display: none;
  }
  .logout-button:hover {
    cursor: pointer;
  }
}
