header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: lightcyan;
}

.hero-org {
  margin-left: 5vw;
  margin-top: 10px;
}
.hero-org:hover {
  cursor: pointer;
}

.logout-button {
  margin-right: 8vw;
}
.logout-button:hover {
  cursor: pointer;
}
