header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: lightcyan;
  padding-bottom: 30px;
}

.hero-org {
  margin-left: 10vw;
}

.logout-button {
  margin-right: 8vw;
}
