body {
  display: flex;
  flex-direction: column;
}

.main-content {
  z-index: 10;
}
h1 {
  text-align: center;
  font-size: 55px;
}
h2 {
  text-align: center;
  margin: 0px;
}
.create-container {
  display: flex;
  margin-top: 2%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.create-new-div {
  border: 1px solid black;
  padding: 30px;
  margin: 4%;
  height: 35%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.create-new-div:hover {
  cursor: pointer;
  background-color: lightblue;
}

.img {
  height: 150px;
  width: 150px;
}

.createnew-div-p {
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 20px;
}

.landing-page-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}
.landing-page-buttons button {
  width: 100px;
  height: 35px;
  margin: 5px;
  font-size: 15px;
  color: white;
  background-color: black;
}
