@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .main-content-landing {
    z-index: 0;
    background-color: #072334;
    width: 100vw;
    height: 100vh;
  }
  .hero-logo {
    position: relative;
    transform: translate(-55%);
    left: 50%;
    margin-top: 5vh;
    width: 250px;
    z-index: 0;
  }
  .main-content-landing h2 {
    text-align: center;
    margin-top: 2%;
    font-family: callingCode-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0.03em;
  }

  .tagline {
    text-align: center;
    color: white;
    font-size: 18px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .create-container {
    display: flex;
    margin-top: 2%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .create-new-div {
    border: 2px solid #ffffff;
    border-radius: 15px;
    padding: 30px;
    min-height: 35%;
    height: 320px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    min-width: 5%;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: 1s;
  }

  .create-new-div:hover {
    cursor: pointer;
    background-color: #fcb566;
    transition: 2s;
  }

  .img {
    height: 120px;
    width: 120px;
  }

  .createnew-div-p {
    color: #ffffff;
    font-family: callingCode-Regular;
    font-size: 20px;
  }

  .landing-page-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    justify-content: space-evenly;
    height: 20%;
  }

  .login-button {
    width: 150px;
    height: 35px;
    background-color: #fcb566;
    box-shadow: 0px 3px 15px rgba(26, 26, 26, 0.2);
    border-radius: 5px;
    font-family: callingCode-Bold;
    font-size: 15px;
    color: #072334;
    font-weight: bold;
    border: none;
  }
  .login-button:hover {
    cursor: pointer;
  }
  .learnMore {
    text-decoration: none;
    font-family: callingCode-Bold;
    font-weight: bold;
    color: #fcb566;
    font-size: 15px;
    border-bottom: 2px solid #fcb566;
    padding-bottom: 3px;
  }

  .learnMore:hover {
    cursor: pointer;
  }
}



@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
  }

  * {
    font-family: callingCode-Bold;
    overflow-x: hidden;
  }

  .main-content-landing {
    z-index: 0;
    background-color: #072334;
    width: 100vw;
    height: 100vh;
  }
  .hero-logo {
    position: relative;
    transform: translate(-55%);
    left: 50%;
    margin-top: 8vh;
    width: 230px;
    z-index: 0;
  }
  .main-content-landing h2 {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 18px;
    color: white;
  }
  .tagline {
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-top: 10px;
  }
  .create-container {
    display: flex;
    margin-top: 2%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .create-new-div {
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    margin-top: 5%;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.55);
    height: 18%;
    border-radius: 8px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .create-new-div:hover {
    cursor: pointer;
    background-color: lightblue;
  }

  .img {
    height: 60px;
    width: 60px;
  }

  .createnew-div-p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    color: white;
    font-weight: normal;
  }

  .landing-page-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    height: 22vh;
    justify-content: space-evenly;
  }
  .login-button {
    background: #fcb566;
    width: 150px;
    height: 35px;
    border: none;
    box-shadow: 0px 3px 15px rgba(26, 26, 26, 0.2);
    border-radius: 5px;
    color: #072334;
    font-weight: bold;
    font-size: 13px;
  }
  .learnMore {
    font-size: 13px;
    font-weight: bold;
    color: #fcb566;
  }
}
