@media screen and (min-width: 700px) {
  .mainpage-container {
    display: flex;
    width: 100vw;
    height: fit-content;
    min-height: 50vh;
    justify-content: space-between;
  }
  .projectcard-container {
    width: 65vw;
    height: fit-content;
    min-height: 15vh;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #f7f7f7;
    position: relative;
    border-radius: 8px;
  }
  .projects-h3 {
    font-size: 40px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 5vw;
    letter-spacing: 2px;
  }

  .projectCards {
    display: flex;
    flex-direction: column;
  }
  .project-header-contain {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
  }

  .add-project-button {
    height: 38px;
    width: 160px;
    border: 2px solid #fcb566;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 5px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-right: 10vw;
    color: #fcb566;
    background-color: white;
  }
  .add-project-button:hover {
    cursor: pointer;
    background-color: #fcb566;
    color: white;
    transition: 1s;
  }
}

@media screen and (max-width: 700px) {
  .mainpage-container {
    display: flex;
    width: 100vw;
    height: fit-content;
    min-height: 50vh;
    justify-content: space-between;
  }
  .projectcard-container {
    width: 90vw;
    height: fit-content;
    min-height: 15vh;
    margin-top: 2vh;
    margin-right: 5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #f7f7f7;
    position: relative;
    border-radius: 8px;
  }
  .projects-h3 {
    font-size: 20px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 10vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #072334;
  }

  .projectCards {
    display: flex;
    flex-direction: column;
  }
  .project-header-contain {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
  }

  .add-project-button {
    position: fixed;
    right: 1%;
    bottom: 15%;
    height: 38px;
    width: 84px;
    border: 2px solid #fcb566;
    border-radius: 5px;
    font-size: 15px;
    border-radius: 5px;
    font-family: callingCode-Bold;
    font-weight: bold;
    margin-right: 10vw;
    color: #fcb566;
    background-color: white;
    z-index: 10;
  }
  .add-project-button:hover {
    cursor: pointer;
    background-color: #fcb566;
    color: white;
    transition: 1s;
  }
}
