@media screen and (min-width: 700px) {
  .mainpage-container {
    display: flex;
    width: 100vw;
    height: fit-content;
    min-height: 50vh;
    justify-content: space-between;
  }
  .projectcard-container {
    width: 70vw;
    height: fit-content;
    min-height: 20vh;
    margin-top: 2vh;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
  }
  .projects-h3 {
    font-size: 35px;
    margin-top: 0px;
    margin-left: 5px;
  }

  .projectCards {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
  }

  .add-project-button {
    position: absolute;
    right: 20%;
    top: 3%;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .mainpage-container {
    display: flex;
    width: 100vw;
    height: fit-content;
    min-height: 50vh;
    justify-content: space-between;
  }
  .projectcard-container {
    width: 70vw;
    height: fit-content;
    min-height: 20vh;
    margin-top: 2vh;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
  }
  .projects-h3 {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 5px;
  }

  .projectCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3vh;
  }

  .add-project-button {
    position: absolute;
    right: 20%;
    top: 3%;
    height: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 40px;
    border-radius: 10px;
  }
}
