.issue-table-h1 {
  font-size: 30px;
  width: 90vw;
  text-align: left;
  padding: 10px;
  background-color: #f7f7f7;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 20%;
  height: 45px;
  font-weight: bold;
  color: #072334;
}

.issue-table button {
  font-size: 20px;
}
.issue-table {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100vw;
  align-items: center;
}
.story-mobile-card {
  display: flex;
  align-items: center;
  width: 90vw;
  height: 45px;
  justify-content: space-between;
  padding-left: 7vw;
  padding-right: 7vw;
  font-size: 14px;
  font-weight: normal;
  color: #094a59;
  border-top: 1px solid #f7f7f7;
}

.back-arrow {
  position: absolute;
  top: 12vh;
  left: 5vw;
}
