.comment-header {
  font-size: 16px;
  font-family: callingCode-Bold;
  font-weight: bold;
  margin-bottom: 20px;
  color: #094a59;
}
.comment-section {
  background-color: #f7f7f7;
  border-radius: 5px;
  height: fit-content;
  width: 99.2%;
}
.comments-container {
  margin-top: 20px;
}
.individual-comment {
  width: 95%;
  height: fit-content;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
}

.author {
  font-family: callingCode-Bold;
  font-size: 12px;
  color: #072334;
  font-weight: bold;
  margin-bottom: 5px;
}
#text {
  text-align: left;
  font-family: callingCode-Regular;
  font-size: 12px;
  color: #0e969d;
  font-weight: normal;
}

.add-comment-input {
  width: 99.4%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  font-size: 13px;
  font-family: codeCalling-Regular;
  font-weight: normal;
  border: 1px solid #b8b8b8;
  margin-top: 15px;
  padding-right: 50px;
}
.comment-button {
  width: 70px;
  height: 29px;
  margin-left: -85px;
  font-family: callingCode-Bold;
  font-weight: bold;
  color: white;
  background-color: #fcb566;
  border-radius: 5px;
  font-size: 15px;
  border: none;
}
