@media screen and (min-width: 700px) {
  .issue-page-container {
    display: flex;
    width: 100vw;
    height: fit-content;
    /* justify-content: space-around; */
  }

  .issuePage-div {
    height: fit-content;
    width: 70vw;
    margin-top: 2vh;
    padding: 0px 70px 0px 70px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
  }
  .story-page-goback {
    font-family: callingCode-Bold;
    font-weight: bold;
    font-size: 13px;
    color: #fcb566;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .story-page-goback:hover {
    cursor: pointer;
  }
  .story-title-header {
    font-size: 38px;
    font-family: callingCode-Bold;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15%;
  }

  .story-content {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    height: fit-content;
    min-height: 10vh;
  }
  .story-desc-header {
    font-family: Calling Code;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #094a59;
    margin-bottom: 5px;
  }
  .story-desc {
    width: 90%;
    font-size: 14px;
    font-family: callingCode-Regular;
    font-weight: normal;
    color: #094a59;
    text-align: left;
  }

  .delete-story {
    position: absolute;
    right: 25%;
    top: 15%;
    font-family: callingCode-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #5c5d5e;
  }
  .edit-story {
    position: absolute;
    right: 25%;
    top: 18%;
    font-family: callingCode-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: #5c5d5e;
  }

  .delete-story:hover {
    cursor: pointer;
  }

  .edit-story:hover {
    cursor: pointer;
  }

  .delete-modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 20vw;
    height: 15vh;
    background-color: lightblue;
    z-index: 100;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
  }
  .delete-modal h2 {
    text-align: center;
  }

  .delete-button-div {
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
  }
  .delete-button-div button:hover {
    cursor: pointer;
  }

  .delete-issue-button {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .issuePage-div {
    height: fit-content;
    width: 100vw;
    margin-top: 0vh;
    padding: 10px;
    min-height: 20vh;
    position: relative;
  }

  .issue-page-container {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    justify-content: space-around;
  }
  .delete-issue {
    position: absolute;
    right: 5%;
    top: 2%;
    display: none;
  }

  .delete-issue:hover {
    cursor: pointer;
  }

  .issuePage-div p {
    font-size: 18px;
  }
  .issuePage-div h2 {
    font-size: 20px;
    text-align: center;
  }

  .delete-modal {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 20vw;
    height: 15vh;
    background-color: lightblue;
    z-index: 100;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
  }
  .delete-modal h2 {
    text-align: center;
  }
  .delete-issue-button {
    margin-bottom: 10px;
  }

  .delete-button-div {
    display: flex;
    margin-top: 5px;
    justify-content: space-evenly;
  }
  .delete-button-div button:hover {
    cursor: pointer;
  }
}
