@media screen and (min-width: 700px) {
  .project-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    margin: 10px;
    height: 80px;
    align-items: flex-start;
    padding-left: 25px;
    justify-content: space-around;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .project-card:hover {
    cursor: pointer;
    border: 1px solid #072334;
  }

  .project-card-p {
    color: #094a59;
    font-family: callingCode-Bold;
    font-weight: bold;
    font-size: 18px;
  }

  .link-project {
    text-decoration: none;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .project-card {
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    padding-left: 0px;
    justify-content: center;
    width: 20vw;
    height: 20vw;
  }

  .project-card:hover {
    cursor: pointer;
    background-color: cyan;
  }
  .project-card h2 {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
  }
  .project-card-p {
    color: black;
  }

  .link-project {
    text-decoration: none;
    width: fit-content;
  }
}
